@media only screen and (max-width: 600px){

	body{
		overflow: hidden;
	}

	input {
	    font-size: 1em;
	    width: 70vw;
	    margin: 0px auto;
	}

	.title {
	    font-size: 2em;
	    letter-spacing: -2px;
	}

	.title-after{
		left:0;
	}

	.blog-button {
	    position: absolute;
	    top: 90vh;
	    height: 10vh;
	    right: 0;
	    margin:0;
	    color: black;
	    text-decoration: none;
	    border: none;
	    background-color: rgba(0,0,0,0.1);
	    width: 100vw;
	    padding: -5vh;
	    font-size: 1em;
	    background:rgba(255,255,255,0.8);
	}
	.blog-button-after{
		margin:0!important;
		visibility: hidden;
	}
	.searchBar-after {
	    position: absolute;
	    top: 8vh;
	    margin: 0;
	    width: 100vw;
	    left: 0;
	    /* right: 0; */
	    overflow: hidden;
	}
	.search-results{
		font-size: 1.5em;
	}

	#audioDiv{
		bottom:-3vh;
	}
	audio{
		width: 100vw;
		margin:0;
	}


	#instructions{
		font-size: 1em;
		margin-top: 20px;
	}

	button {
	    font-size: 1em;
	    background-color: rgba(0,0,0, 0.9);
	    font-family: 'Lato', sans-serif;
	    color: white;
	    border: none;
	}

	.no-margin{
		margin:0;
	}

	.title-after{
		font-size: 2em;
	}

	.confirm-button-after {
	margin:0;
    width: 24vw;
    font-size: 0.8em;
    padding: 12px 0;
    position: absolute;
}


}