body{
	margin:0;
	padding: 0;
}

a{
	text-decoration: none;
	color:black;
}

.blog-button{
	position:absolute;
	top:10px;
	right:10px;
	border-radius: 0px;
	background: rgba(255,255,255,0.8);
	color: black;
	border:solid 2px;
	margin:10px;
}

div, button{
	display: block;
	margin: 10px auto;
}

.searchBox{
	padding: 20px 50px;
	margin: 1px;
	margin-color:black;
}

.title{
	letter-spacing:-5px;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	display:block;
	font-size: 5em;
	text-align: center;
}

.title-after {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 3em;
}

::-webkit-input-placeholder { /* Chrome */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}

input{
	background-color: rgba(255,255,255,0.8);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	width:35vw;
	display:block;
	margin: 50px auto 30px auto;
	padding: 10px;
  	border: none;
  	box-shadow: none;
  	text-align: center;
 }

input:focus{
	outline:0;
	/*border-bottom: solid 1px #000000;*/
}

button{
	background-color:rgba(0,0,0, 0.9);
	border-color:rgba(0,0,0, 0.9);
	font-family: 'Lato', sans-serif;
	color:white;
	padding:8px;

}
button:hover{
	cursor:pointer;
}

.confirm-button-after{
	padding:14px;

}

.search-results{
	color:white;
	display: block;
	text-align: center;
	margin:50px auto;
	font-size: 3.5em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-decoration: none;
	background-color: black;
	width:35vw;
	border-radius: 2px;

}

.topBar-after {
    width: 100%;
    background: red;
    max-height: 65px;
    overflow: hidden;
    margin: 0;
}

.float-left {
    float: left;
    margin: 0;
    margin-left: 20px;
}

.inline-block{
	margin:0;
	display:inline-block;
}

.title-after{
	font-size: 3em;
	margin:5px;
}

#instructions{
	font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 45px;
    font-size: 1.5em;
}

img{
	max-width: 90vw;
	max-height: 50vh;
}

#audioDiv{
	width:100vw;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	height:10vh;

}

audio{
	margin-left: 40vw;
	width:20vw;
	margin-right: 40vw;
}


/*-----------------AFTER THE CLICK------------------------*/
.searchBar-after{
	width:44vw;
	margin:10px auto;
	position: absolute;
    left: 28vw;
}

.inline-block{
	display: inline-block;
}

.confirm-container-after{
	top: 0;
    position: absolute;
}

.search-input-after{
	text-align: left;
}

.blog-button-after{
	margin:10px!important;
	border:none;
	background:white;
}

.search-results-after{
	top:20vw;
	position: absolute;
	width:46vw;
}
